<a href="https://colab.research.google.com/github/RajendraPai/vlookup/blob/main/vlookup0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# read file stored in github
url = "https://raw.githubusercontent.com/RajendraPai/vlookup/main/vlookup.csv?token=GHSAT0AAAAAABRCQ6TMGGSN3VEH7ON3RKNSYPWTE6Q" # file in GitHub - Raw (note url)
df1 = pd.read_csv(url)
print(df1)
# import file stored in local machine
# from google.colab import files
# uploaded = files.upload()

    Unnamed: 0          Salesman   Sale Date   Zone  Sale Amount  \
0            0  Narayan Kulkarni  2008-02-26  North       105419
1            1  Narayan Kulkarni  2008-04-08   East        37400
2            2  Narayan Kulkarni  2008-04-08  South        23258
3            3  Narayan Kulkarni  2008-04-21  North        55007
4            4  Narayan Kulkarni  2008-04-24   West        39727
..         ...               ...         ...    ...          ...
89          89   Renuka Hiremath  2008-08-10   East       122607
90          90   Renuka Hiremath  2009-02-09  South        67834
91          91   Renuka Hiremath  2009-02-15  North         5442
92          92   Renuka Hiremath  2009-05-04   West        89234
93          93   Renuka Hiremath  2009-06-05   West         3783

      Supervisor  Salesman Mobile
0    S Mahadevan       9964933087
1    S Mahadevan       9964933087
2    S Mahadevan       9964933087
3    S Mahadevan       9964933087
4    S Mahadevan       9964933087
..           ...              ...
89  Rahul Saxena       9944021554
90  Rahul Saxena       9944021554
91  Rahul Saxena       9944021554
92  Rahul Saxena       9944021554
93  Rahul Saxena       9944021554

[94 rows x 7 columns]

In [7]:
import io
df = pd.read_csv(io.BytesIO(uploaded['vlookup.csv']))
pd.set_option('display.max_columns', None)
print(df)

    Unnamed: 0          Salesman   Sale Date   Zone  Sale Amount  \
0            0  Narayan Kulkarni  2008-02-26  North       105419
1            1  Narayan Kulkarni  2008-04-08   East        37400
2            2  Narayan Kulkarni  2008-04-08  South        23258
3            3  Narayan Kulkarni  2008-04-21  North        55007
4            4  Narayan Kulkarni  2008-04-24   West        39727
..         ...               ...         ...    ...          ...
89          89   Renuka Hiremath  2008-08-10   East       122607
90          90   Renuka Hiremath  2009-02-09  South        67834
91          91   Renuka Hiremath  2009-02-15  North         5442
92          92   Renuka Hiremath  2009-05-04   West        89234
93          93   Renuka Hiremath  2009-06-05   West         3783

      Supervisor  Salesman Mobile
0    S Mahadevan       9964933087
1    S Mahadevan       9964933087
2    S Mahadevan       9964933087
3    S Mahadevan       9964933087
4    S Mahadevan       9964933087
..           ...              ...
89  Rahul Saxena       9944021554
90  Rahul Saxena       9944021554
91  Rahul Saxena       9944021554
92  Rahul Saxena       9944021554
93  Rahul Saxena       9944021554

[94 rows x 7 columns]

In [11]:
df2 = df1.unstack()
print(df2)

Unnamed: 0       0              0
                 1              1
                 2              2
                 3              3
                 4              4
                          ...
Salesman Mobile  89    9944021554
                 90    9944021554
                 91    9944021554
                 92    9944021554
                 93    9944021554
Length: 658, dtype: object

In [12]:
print(df1)

    Unnamed: 0          Salesman   Sale Date   Zone  Sale Amount  \
0            0  Narayan Kulkarni  2008-02-26  North       105419
1            1  Narayan Kulkarni  2008-04-08   East        37400
2            2  Narayan Kulkarni  2008-04-08  South        23258
3            3  Narayan Kulkarni  2008-04-21  North        55007
4            4  Narayan Kulkarni  2008-04-24   West        39727
..         ...               ...         ...    ...          ...
89          89   Renuka Hiremath  2008-08-10   East       122607
90          90   Renuka Hiremath  2009-02-09  South        67834
91          91   Renuka Hiremath  2009-02-15  North         5442
92          92   Renuka Hiremath  2009-05-04   West        89234
93          93   Renuka Hiremath  2009-06-05   West         3783

      Supervisor  Salesman Mobile
0    S Mahadevan       9964933087
1    S Mahadevan       9964933087
2    S Mahadevan       9964933087
3    S Mahadevan       9964933087
4    S Mahadevan       9964933087
..           ...              ...
89  Rahul Saxena       9944021554
90  Rahul Saxena       9944021554
91  Rahul Saxena       9944021554
92  Rahul Saxena       9944021554
93  Rahul Saxena       9944021554

[94 rows x 7 columns]

# New section